<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="sidebar">
          <ul class="widget widget-menu unstyled   hidden-xs">
            <li>
              <a href="#" routerLink="/dashboard">
                <i class="menu-icon icon-bullhorn"></i>
                DashBoard
              </a>
            </li>
            <li>
              <a href="#" routerLink="/drs">
                <i class="menu-icon icon-bullhorn"></i>
                DRS Creation
              </a>
            </li>
            <li>
              <a href="#" routerLink="/track">
                <i class="menu-icon icon-bullhorn"></i>
                Track Shipment
              </a>
            </li>
            <li>
              <a href="#">
                <i class="menu-icon icon-signout"></i>
                Logout
              </a>
            </li>
          </ul>
          <!--/.widget-nav-->
        </div>
      </div>
      <!--/.span2-->
      <div class="span9">
        <div class="content">
          <div class="row-fluid span12" style="background-color:#ffffff;padding:10px;">
            <div class="module">
              <div class="module-head">
                <h3>Shipments</h3>
              </div>
              <div class="module-body">
                <div class="row-fluid">
                  <table class="table table-striped table-bordered table-condensed">
                    <thead>
                      <tr>
                        <th>Booking Number</th>
                        <th>Manufacturer</th>
                        <th>Retailer</th>
                        <th>Pickup Date</th>
                        <th>Pickup Location</th>
                        <th>Delivery Date</th>
                        <th>Delivery Location</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>ECO10001</td>
                        <td>Ecobliss</td>
                        <td>DMart</td>
                        <td>27/02/2019</td>
                        <td>Hyderabad</td>
                        <td>02/03/2019</td>
                        <td>Visakhapatnam</td>
                        <td>Created</td>
                        <td>
                          <a href="shipmentDetail.html"><i class="green menu-icon icon-edit"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>TAT10001</td>
                        <td>TATA</td>
                        <td>DMart</td>
                        <td>27/02/2019</td>
                        <td>Delhi</td>
                        <td>02/03/2019</td>
                        <td>Chennai</td>
                        <td>InProcess</td>
                        <td>
                          <a href="shipmentDetail.html"><i class="green menu-icon icon-edit"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>ECO10002</td>
                        <td>Ecobliss</td>
                        <td>Lee Cooper</td>
                        <td>27/02/2019</td>
                        <td>Kolkata</td>
                        <td>02/03/2019</td>
                        <td>Mumbai</td>
                        <td>InTransit</td>
                        <td>
                          <a href="shipmentDetail.html"><i class="green menu-icon icon-edit"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>ECO10001</td>
                        <td>Ecobliss</td>
                        <td>Puma</td>
                        <td>27/02/2019</td>
                        <td>Banglore</td>
                        <td>12/09/2019</td>
                        <td>Goa</td>
                        <td>Rejected</td>
                        <td>
                          <a href="shipmentDetail.html"><i class="green menu-icon icon-edit"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <td>ECO10001</td>
                        <td>Ecobliss</td>
                        <td>Woodland</td>
                        <td>27/02/2019</td>
                        <td>Delhi</td>
                        <td>02/03/2019</td>
                        <td>Chandigarh</td>
                        <td>Accepted</td>
                        <td>
                          <a href="shipmentDetail.html"><i class="green menu-icon icon-edit"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--/.content-->
      </div>
      <!--/.span9-->
    </div>
  </div>
  <!--/.container-->
</div>
<!--/.wrapper-->