<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="span2">
                <div class="sidebar">
                    <ul class="widget widget-menu unstyled   hidden-xs">
                        <li>
                            <a href="#" routerLink="/dashboard">
                                <i class="menu-icon icon-bullhorn"></i>
                                DashBoard
                            </a>
                        </li>
                        <li>
                            <a href="#" routerLink="/drs">
                                <i class="menu-icon icon-bullhorn"></i>
                                DRS Creation
                            </a>
                        </li>
                        <li>
                            <a href="#" routerLink="/track">
                                <i class="menu-icon icon-bullhorn"></i>
                                Track Shipment
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="menu-icon icon-signout"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                    <!--/.widget-nav-->
                </div>
            </div>
            <!--/.span2-->
            <div class="span9">
                <div class="content">
                    <div class="row-fluid span12" style="background-color:#ffffff;padding:10px;">
                        <div class="module">
                            <div class="module-head">
                                <h3>Shipment Detail</h3>
                            </div>
                            <div class="module-body">
                                <div class="row-fluid">
                                    <div class="span5">
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Booking
                                                    Number</b></label>
                                            <label class="control-label span6" for="basicinput">ECO10001</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6"
                                                for="basicinput"><b>Manufacturer</b></label>
                                            <label class="control-label span6" for="basicinput">Ecobliss</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Retailer</b></label>
                                            <label class="control-label span6" for="basicinput">DMart</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Pickup
                                                    Date</b></label>
                                            <label class="control-label span6" for="basicinput">27 Feb 2019</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Pickup
                                                    Location</b></label>
                                            <label class="control-label span6" for="basicinput">Madhapur,
                                                Hyderabad</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Delivery
                                                    Date</b></label>
                                            <label class="control-label span6" for="basicinput">01 Mar 2019</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Delivery
                                                    Location</b></label>
                                            <label class="control-label span6" for="basicinput">MainRoad,
                                                Vizianagaram</label>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label span6" for="basicinput"><b>Status</b></label>
                                            <label class="control-label span6" for="basicinput">Created</label>
                                        </div>
                                    </div>
                                    <div class="span12" style="margin-left: 0px;">
                                        <table class="table table-striped table-bordered table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>RWB Number</th>
                                                    <th>Product Name</th>
                                                    <th>Product Type</th>
                                                    <th>Qty</th>
                                                    <th>Size</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>100001</td>
                                                    <td>T-Shirts</td>
                                                    <td>Textile</td>
                                                    <td>100</td>
                                                    <td>5X10X25</td>
                                                </tr>
                                                <tr>
                                                    <td>100002</td>
                                                    <td>Pants</td>
                                                    <td>Textile</td>
                                                    <td>200</td>
                                                    <td>15X10X35</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="span12" style="text-align:center;">
                               
                            <a class="btn btn-success"  (click)="getForm(Shipment.bookingNumber);" type="accept"  data-toggle="modal" data-target="#updateShipment" >Accept</a>
                            <a class="btn btn-danger" class="btn btn-success"  (click)="getForm(Shipment.bookingNumber);" type="reject"  data-toggle="modal" data-target="#deleteShipment">Reject</a>
                        </div>
                    </div>
                </div>
                <!--/.content-->
            </div>
            <!--/.span9-->
        </div>
    </div>
    <!--/.container-->
</div>
<!--/.wrapper-->